.calculator{
  background-color: rgb(230, 230, 230);
  width: 261px;
  
  aspect-ratio: 2 / 3;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 0 3px 3px rgb(180, 180, 180);
}

.display{
  background-color: white;
  /* width: 100%; */
  border-width: 1px;
  border-style: solid;
  height: 15%;
  margin: 20px 10px;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 30px;
}